html,
body {
  background-color: #1b1924;
  min-width: 320px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  padding: 0;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  margin: 3.125em auto 1.25em;
  height: 90px;
}

h1,
h2 {
  color: #fff;
}

textarea {
  font-size: 1.125rem;
  outline: none;
  font-family: "Inter", sans-serif;
  margin: 1em auto;
  border: 1px solid #444059;
  border-radius: 0.33em;
  height: 130px;
  width: 78%;
  background-color: #444059;
  word-wrap: break-word;
  padding: 0.7em;
  color: white;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 83%;
  background-color: #28a9f1;
  color: #04131c;
  padding: 0.75em;
  margin: 0 auto 25px;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #15577a;
}

#endorsement-list {
  margin: 0 auto;
  width: 80%;
}

.style {
  line-break: normal;
  font-size: 1.25rem;
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0px auto 15px;
  background-color: #fff;
  padding: 10px;
}

.style:hover {
  cursor: pointer;
  background-color: #d8b0b0;
}

@media (min-width: 768px) {
  textarea {
    width: 70%;
    height: 180px;
  }
  button {
    width: 73%;
  }
  #endorsement-list {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  textarea {
    width: 50%;
    height: 180px;
  }
  button {
    width: 52%;
  }
}

@media (min-width: 1280px) {
  textarea {
    width: 45%;
    height: 180px;
  }
  button {
    width: 52%;
  }
}
